<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8006wcwjneynzQ7-fh9XMeVeOk45XxDE</string>
	<key>GCM_SENDER_ID</key>
	<string>301703092246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.a.recover</string>
	<key>PROJECT_ID</key>
	<string>a-auth-recover</string>
	<key>STORAGE_BUCKET</key>
	<string>a-auth-recover.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301703092246:ios:5aa16b3b4604c28d757d37</string>
</dict>
</plist>